.input {
  width: 100%;
  background-color: var(--black-muted);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: .25rem;
  font-size: 1rem;
  padding: .75rem 2rem;
  color: var(--text-muted);
  transition: border-color .3s ease-in-out;

  &:focus {
    border-color: var(--secondary);
    outline: none;
    box-shadow: var(--black-muted) 0px 3px 8px;
  }
}
